@import "_vars.scss";

.facts {
  padding-left: 0;
  padding-right: 0;

	&__top, &__bottom {
    display: flex;
    flex-wrap: wrap;
    position: relative;
	}

  &__top {
    padding-right: 10%;
    @media screen and (max-width: 1030px) {
      padding-right: 5%;
      flex-direction: column-reverse;
    }
    @media screen and (max-width: 420px) {
      padding-right: 3%;
    }
  }

  &__img-left, &__img-right {
    width: 50%;

    @media screen and (max-width: 1300px) {
      width: 55%;
    }

    @media screen and (max-width: 1030px) {
      width: 100%;
    }
  }

	&__text {
    width: 27%;

    @media screen and (max-width: 1700px) {
      width: 32%;
    }

    @media screen and (max-width: 1400px) {
      width: 38%;
    }

    @media screen and (max-width: 1300px) {
      width: 40%;
    }

    @media screen and (max-width: 1200px) {
      width: 42%;
    }

    @media screen and (max-width: 1030px) {
      width: 92%;
    }

	}

  &__text:first-child {
    padding-right: 23%;
    padding-top: 12%;

    @media screen and (max-width: 1700px) {
      padding-right: 18%;
      padding-top: 10%;
    }

    @media screen and (max-width: 1400px) {
      padding-right: 12%;
    }

    @media screen and (max-width: 1300px) {
      padding-right: 5%;
    }

    @media screen and (max-width: 1200px) {
      padding-right: 3%;
    }

    @media screen and (max-width: 1030px) {
      padding-right: 8%;
    }
  }

  &__text:last-child {
    padding-left: 8%;

    @media screen and (max-width: 1300px) {
      padding-left: 5%;
    }

    @media screen and (max-width: 1200px) {
      padding-left: 3%;
    }

    @media screen and (max-width: 1030px) {
      padding-left: 8%;
    }
  }

	&__heading {
    font-size: 64px;
    white-space: nowrap;
    margin-bottom: 0.5em;
    @media screen and (min-width: 1500px) {
      margin-top: 1.6em;
    }

    @media screen and (min-width: 1030px) and (max-width: 1300px) {
      margin-top: 0;
      margin-bottom: 10px;
    }
    @media screen and (max-width: 420px) {
      font-size: 32px;
    }
	}

	&__ordered-list {
    list-style: none;
    counter-reset: li;
    padding-left: 1em;

    & li:before {
      content: counter(li) '. ';
      counter-increment: li;
      color: $color_red;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
      font-weight: 500;
    }
	}

	&__bottom {
    padding-left: 10%;
    margin: 100px 0;
    @media screen and (max-width: 1030px) {
      padding-left: 5%;
      margin: 70px 0;
    }
    @media screen and (max-width: 420px) {
      padding-left: 3%;
      margin: 50px 0;
    }
	}

	&__unordered-list {
    list-style: none;
    padding-left: 1em;

    & li:before {
      content: '—';
      color: $color_red;
      font-weight: bold;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }
	}

}
