@import "_vars.scss";


.works {

  &__heading {
    font-size: 64px;
    padding-left: 10%;
    padding-right: 10%;
    @media screen and (max-width: 1030px) {
      padding-left: 5%;
    }
    @media screen and (max-width: 420px) {
      padding-left: 3%;
      font-size: 32px;
    }
	}

	&__slider {
    display: flex;
    overflow-x: scroll;
    margin-bottom: 100px;
    user-select: none;

    @media screen and (max-width: 1030px) {
			margin-bottom: 70px;
    }

    @media screen and (max-width: 730px) {
			margin-bottom: 50px;
    }

    &:hover {
      cursor: pointer;
    }

    &:active {
      cursor: grabbing;
    }
	}

  &__item {
    margin-right: 2%;
  }

  &__item:first-child {
    padding-left: 10%;

    @media screen and (max-width: 1030px) {
      padding-left: 5%;
    }
    @media screen and (max-width: 420px) {
      padding-left: 3%;
    }
  }

  &__slider::-webkit-scrollbar {
    height: 11px;
  }


  &__slider::-webkit-scrollbar-track {
    background: $color_midgrey;
    border-top: 5px solid $color_white;
    border-bottom: 5px solid $color_white;
  }

  &__slider::-webkit-scrollbar-thumb {
    background: $color_red;
    border-radius: 5.5px;
  }

  ::-webkit-scrollbar-button {
    background: $color_white;
    width: 5%;

    @media screen and (max-width: 1030px) {
      width: 2.5%;
    }
    @media screen and (max-width: 420px) {
      width: 2%;
    }
  }


  &__img {

  }

	&__title {
    font-size: 30px;
	}

}
